<!-- [26-4-25] Loads SMM robot from xacro and exctracts geometry/inertia properties -->
<!-- $ roslaunch smm_synthesis master_test1.launch frame_output_file:=NAME_OF_YAML com_output_file:=NAME_OF_YAML ... ... -->
<launch>
    <arg name="frame_output_file" default="master_test1_arg1_default.yaml"/>
    <arg name="com_output_file"   default="master_test1_arg2_default.yaml"/>
    <arg name="inertia_output_file"   default="master_test1_arg3_default.yaml"/>
    <arg name="tcp_output_file"   default="master_test1_arg4_default.yaml"/>

    <!-- 1. Include the robot visualization launch -->
    <include file="$(find smm_synthesis)/launch/robot_visualization.launch" />

    <!-- 2. Include the extract frames launch -->
    <include file="$(find smm_synthesis)/launch/extract_zero_frames.launch">
        <arg name="frame_output_file" value="$(arg frame_output_file)" />
    </include>

    <!-- 3. Include the extract COM frames launch -->
    <include file="$(find smm_synthesis)/launch/extract_zero_com.launch">
        <arg name="com_output_file" value="$(arg com_output_file)" />
    </include>

    <!-- 4. Include the extract Inertia tensor launch -->
    <include file="$(find smm_synthesis)/launch/extract_zero_inertia.launch">
        <arg name="inertia_output_file" value="$(arg inertia_output_file)" />
    </include>

    <!-- 5. Include the extract TCP frame launch -->
    <include file="$(find smm_synthesis)/launch/extract_zero_tcp.launch">
        <arg name="tcp_output_file" value="$(arg tcp_output_file)" />
    </include>

    <!-- 6. Node to extract the active joints twists of the loaded structure+anatomy -->
    <include file="$(find smm_synthesis)/launch/extract_active_twists.launch" />
</launch>